* {
    margin: 0;
    padding: 0px;
    /* background-color: #f5f6fa; */
    position: relative;
}


/* bagian navbar */

.navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: transparent;

}

.navbar-brand {
    font-family: 'Viga';
    font-size: 32px;
}

.nav-item {
    text-transform: lowercase;
}

.nav-link {
    color: white !important;
    text-shadow: 1px 1px 1xp rgba(0, 0, 0, 1, 7);
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 1px solid blue;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -6px;

}


/* akhir navbar */

/* jumbotron */
.jumbotron {
    position: relative;
    background-image: url(gambar/gb1.jpg);
    text-align: center;
    background-size: cover;
    height: 640px;
}

.jumbotron .container img {
    width: 200px;
    height: 200px;
    line-height: 640px;

}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

/* about */
.about {
    height: 500px;
}

.row h3 {
    border-bottom: 1px solid black;
    width: 30%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -6px;
    text-align: center;
}

.row .col-sm-4 {
    margin-top: 15px;
    text-align: justify;
}

/* akhir about */

/* skill */

.table {
    margin-top: 25px;
    height: 500px;
}

.table td {
    text-transform: lowercase;
}

/* akhir  skill */

/* hobby */
.koute {
    text-align: center;
    line-height: 378px;
    /* font-family: 'B612', sans-serif; */
    position: relative;
}

blockquote {

    font-family: 'B612', sans-serif;
    font-size: 20px;
    font-style: italic;
    /* margin-top: 50px; */
    /* line-height: 1.4em; */
    position: absolute;
    margin: 60px auto;
    right: 30px;
}

blockquote::before,
blockquote::after {
    content: open-quote;
    font-size: 60px;
    color: #999;
    line-height: 0px;
    position: relative;
    top: 20px;
}

blockquote::after {
    content: close-quote;
}

p {
    position: absolute;
    bottom: 40px;
}

.hobby .row {
    margin-bottom: 20px;
}

/* akhir hobby */

/* contact */


.contac {
    min-height: 900px;
}

.row2 {
    margin-top: 20px;

}

/* akhir contact */


/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
}

footer p {
    color: salmon;
    text-align: center;
    position: relative;
    top: 23.5%;
}